export(class.factor.format,
ClassifierBuild,
ClassifierBuild.default,
identity,
varSel.highest.t.stat,
varSel.highest.var,
varSel.AUC,
cluster.kmeans.mean,
varSel.removeManyNA,
varSel.impute.NA,
important.variable.names,
MCRindError,
plotIndGroupVotes,
intersectList,
MCRwrongsamples,
MCRconfusion,
MCRestimateMerge,
MCRestimate,
MCRestimate.default,
plot.MCRestimate,
PLR,
predict.PLR,
replace.NA,
select.NA.elements,
SVM.OVA.wrap,
RF.wrap,
PAM.wrap,
PLR.wrap,
SVM.wrap,
GPLS.wrap)
